.category {
  width: 180px;
  position: relative;
}

.category__color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.category-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px;
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: 8px;
}

.category-selected__category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category-selected > img {
  width: 16px;
}

.category-selected__color {
  margin-right: 8px;
}

.category-list {
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 8px;
  border-radius: 8px;
  z-index: 2;
  position: absolute;
  margin-top: 10px;
  width: 100%;
}